[Unit]
Description=login_collect_bot
After=network.target

[Service]
User=root
WorkingDirectory=/root/programs/login_collect_bot
ExecStart=/usr/bin/python3 /root/programs/login_collect_bot/login_collect_bot.py
Restart=always

[Install]
WantedBy=multi-user.target
